body {
  /* background-color: rgb(8, 8, 10); */
  background-image: radial-gradient(
    at 50% 52%,
  rgb(17, 17, 21),
  rgb(15, 15, 19) 60%,
  rgb(8, 8, 10) 80%
  );
  color: rgb(236, 231, 231);
  font-size: 13px;
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

label {
  user-select: none;
}

div.header {
  -webkit-app-region: drag;
  background-color: rgb(48, 50, 51);
  /* border: 1px solid white; */
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.header-strip {
  margin: 0;
  flex: 1;
}

div.header-btn-groups {
  margin: 0;
  display: inline-flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}

div.windowbutton {
  width: 28.7px;
}
div.windowbutton svg:hover {
  background-image: radial-gradient(
    circle at 50% 90%,
  rgba(154, 184, 197, 0.8),
  rgba(154, 184, 197, 0.34) 30%,
  rgba(154, 184, 197, 0.05)
  );
}

div.windowbutton svg path {
  stroke: rgb(170, 175, 180);
  stroke-width: 2px;
  fill: none;
}
div.windowbutton svg:hover path {
  stroke: rgb(70, 161, 223);
  stroke-width: 4px;
}

.header-item {
  text-align: center;
}

.command-box {
  background-color: rgba(31, 31, 36, 0.8);
  border: 1px solid rgb(143, 143, 180);
  color: rgb(236, 231, 231);
}

.command-box:focus {
  border: 1px solid rgb(62, 62, 212);
}
